@model WebcamMVC.Models.ViewModel.BioMetricVM


<html >
<head>
    <title>Demo3</title>
</head>
<body>
    <div class="row">
        <div class="col-md-10">
            <div>
                <img id="Userpic" src="@ViewBag.pic" style="width: 320px; height: 240px;" @*src="../../WebImages/person.jpg"*@ />
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="FullName">4.Name:</label>
                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control", type = "Textarea" })
                </div>

            </div>
            <table width="1012" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="auto-style2" align="right" valign="top">
                        <b>Input parameters</b>
                        <br><br>
                        Match Score<input type='text' id=quality size=10 value="100"> <br><br>
                    </td>
                   
                    <td class="style3" align="left">
                        <span class="download_href">
                            <center>
                                <img border="2" id="FPImage1" alt="Fingerpint Image" height=300 width=210 src="~/Images\PlaceFinger.bmp">
                                <input type="button" value="Click to Scan" onclick="CallSGIFPGetData(SuccessFunc1, ErrorFunc)">
                                <input type="button" value="Login" onclick="MatchWithAllData()"> <br><br>
                                <div style=" color:black; padding:20px;">
                                    <p id="result1"> </p>
                                    <p id="result2"> </p>
                                </div>
                            </center>
                        </span>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </div>
    <script src="~/Scripts/BioMetric.js"></script>
</body>

</html>